<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <style>
            .footer-details {
                margin-left: 50px;
                font-size: 10px;
            }
        </style>
    </head>
    <body>
        {# We can use classes to inject printing values as date, title, url, pageNumber or totalPages #}
        <p class="footer-details">Page <span class="pageNumber"></span> of <span class="totalPages"></span></p>
    </body>
</html>
